@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 12vh;
}

.nav_container {
    margin: 0 140px;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    display: flex;
    list-style: none;
    height: 12vh;
    width: 46%;
    justify-content: space-between;
    align-items: center;
}

.nav_links li a {
    text-decoration: none;
    font-size: 20px;
    color: #08517A;
    font-weight: 500;
}

.active_link {
    content:"";
    display:block;
    max-width:120%;
    border-bottom: 3px solid #08517A;
    text-align: center;
    font-weight: 700 !important;
}

.authorize {
    display: flex;
    list-style: none;
    height: 12vh;
    width: 19%;
    justify-content: space-between;
    align-items: center;
}

.authorize li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.authorize_login a{
    color: #DA8F06;;
}

.authorize_signup a{
    background: #DA8F06;
    padding: 7px 21px;
    border-radius: 5px;
    color: #fff;
}