body, *{
    text-decoration: none;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;   
    margin: 0;
    padding: 0;
}
.section{
    height: 88vh;
    background: url("../img/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
}
.overlay {
    position: relative;
    z-index: 1;
}
.overlay:before {
    background: rgba(1, 28, 44, 0.8);
    content:"";
    position: absolute;
    height: 100%;
    opacity: 0.8;
    width: 100%;
    z-index: -1;
}

.slide_bar{
    display: flex;
    width: 35rem;
    height: 10rem;
    margin-top: -4rem;
}
figure#info{
    color: whitesmoke;
    font-size: 1.2rem; 
    position: relative;
}
.caption{
    margin-top: -11px;
    font-style: italic;
    font-size: 1rem;
    position: absolute;
    right: 0;
}
.slide {
    padding: 10rem;
}
.button_container{
    display: flex;
    justify-content: space-between;
}


.slide_btn {
    padding-top: 2rem;
}

.slide_btn a {
    background: #E44C65;
    text-decoration: none;
    color: #bcc3c7;
    font-size: 0.9rem;
    padding: 10px 30px;
    border-radius: 3px;
    letter-spacing: 2px;
}

.sub_info {
    display: flex;
    height: 12em;
    width: 90%;
    margin-left: auto;
 }

.gallery_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
 
.text {
    display: inline;
    width: 70%;
    height: 80px;
    color: whitesmoke;

}
 div.img img {
     width: 50px;
     height: 50px;
 }