@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.after-login {
    display: block;
}
.parent_wrapper{
    height: 88vh;
    background-image: url("../img/bg-doctors.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 583px 431px;
    padding: 1rem 0;
}
.parent_col{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 1rem;
}
#block_quote{
    width: 336px;
    height: 81px;
    align-self: center;
    font-style: italic;
    position: absolute;
    right: 20px;
}
.parent_img{
    text-align: center;
    width: 20rem;
    margin-left: -13rem;
}
.parent_image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
#camera_icon{
    width: 30px;
    height: 30px;
    margin-left: -0.7rem;
}
.children_col{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#parent_form{
    width: 596px;
    padding: 0;
    margin-left: -7rem;
    margin-right: 7rem;
}
.parent_edit_form{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #08517A;
    margin: 0 auto;
}
.double_input{
    margin-right: 36px
}
.single_input{
    margin: 15px 0;
}
.input_width_height{
    width: 280px;
    height: 40px;
    padding: 0 0.5rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid #08517A;
}
.email_address_width{
    width: 596px;
    height: 40px;
    padding: 0 0.5rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid #08517A;
}
#parent_status{
    border: 2px solid #08517A;
}
.input_flex{
    display: flex;
    flex-direction: column;
}
.parent_btn{
    width: 228px;
    height: 40px;
    font-weight: bold;
    color: #FFF;
    background-color: #DA8F06;
    border: none;
    border-radius: 5px;
    margin: 1rem auto 1rem auto;
    cursor: pointer;
}
.input_flex label{
    margin-bottom: 0.3rem;
}
.child_section{
    width: 300px;
    position: absolute;
    right: 0;
}
.child_col{
    display: flex;
    flex-direction: column;
    height: 17.8rem;
    max-height: 17.8rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}
.child_profile{
    display: flex;
    align-content: center;
    width: 100%;
}
.child_profile:not(:last-child){
    margin-bottom: 20px;
}
.child_heading{
    margin: 0 0 1rem 2rem;
}
.child_pix{
    align-self: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.child_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 171px;
    height: 88px;
    font-size: 16px;
    font-style: italic;
}
.child_name{
    color: #DA8F06;
    font-weight: bold;
}

@media screen and (min-height: 800px) {
    .parent_wrapper{
        margin: 103px 0 0 0;
    }
    .parent_image{
        width: 145px;
        height: 145px;
    }
  }