*, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.masthead {
    margin-left: 1em;
}

.hospital_header p {
    width: 347px;
    height: 48px;
    left: 143px;
    top: 126px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #08517A;
}

.content_header a {
    color: #000000;
    font-family: Poppins;
    font-size: 18px;
    color: #000000;
}
.selected {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.content_header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 120px;
}

.content_line {
    border: 2px solid #DA8F06;
}


.group {
    display: flex;
    flex-wrap: wrap;
    height: 150vh;
    justify-content: space-around;
}

.hospital_name, .hospital_address, .appointment {
    display: block;
    margin-bottom: 4em;
}

.hospital {
    width: 253px;
    height: 381px;
    background: #F4FBFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 3rem 0;
}

.centered {  
    width: 253px;
    height: 381px;
    background: #F4FBFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-top: 2em;
}

.hospital_name {
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #08517A;
    text-transform: uppercase;
}

.hospital_address {
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #08517A;
}

.appointment {
    width: 166px;
    height: 29px;
    background: #DA8F06;
    border-radius: 5px;
    margin-left: 3em;
}

.appointment a {
    color: ivory;
}

@media only screen and (min-width : 1250px) {
    .hospital{
        margin: 1rem;
    }
}