*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}
body{
    background-color: #E5E5E5;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login_box{
    position: relative;
    background-color: #FFF;
    width: 291px;
    height: 397px;
    border-radius: 2rem;
    padding: 1rem;
}
p#login_header{
    color: #08517A;
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;

}
form#form_box{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0.9rem 0;
    width: 100%;
}
label, .labels{
    color: #08517A;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0.2rem;
}
.input-box{
    padding: 0.7rem 1rem;
    border-radius: 7px; 
    outline: none;
}
.no_border{
    border: none;
}
.password_flex{
    display: flex;
    align-items: center;
    background-color: red;
    border-radius: 7px;
    background-color: #CACCCF;
    padding-right: 0.5rem;
    margin-bottom: 1.2rem;
}
#login_username{
    margin-bottom: 1.1rem;
}
#login_password{
    width: 100%;
    background-color: #CACCCF;
}
#icon{
    font-size: 1.2rem;
    color: #08517A;
}
#submit_btn{
    background-color: #DA8F06;
    color: #FFF;
    font-size: 14px;
    font-weight: 800;
}

/* Lines before and after the OR word */
.fancy span, .social span{
    color: #08517A;
    font-size: 14px;
    font-weight: 800;
}
p.title, span p{
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 6px;
    padding-top:2px;
    border-bottom: 1px solid #E8E8E8;
    top: 0;
    width: 116px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }

.social{
    margin: 0.5rem 0 0.4rem 0;
}
.social_icon{
    text-align: center;
}
.social_icons{
    width: 29px;
    height: 29px;
}
.login_footer{
    text-align: center;
    font-size: 12px;
    font-weight: 800;
}
.login_footer a{
    color: #DA8F06;
    text-decoration: none;
}